.hborder-bottom-color{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
}
.rowere{
    justify-content: space-evenly!important;
}